@page "/fetchdata"

<PageTitle>SpaceX Launches</PageTitle>

<h1>SpaceX Launches</h1>

<p>This is launch data pulled back via REST API</p>

@if (launchDtos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tentative</th>
                <th>Launch Date</th>
                <th>Machine Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var launch in launchDtos)
            {
                <tr>
                    <td>@launch.Id</td>
                    <td>@launch.IsTentative</td>
                    <td>@launch.LaunchDateLocal</td>
                    <td>@launch.MissionName</td>
                </tr>
            }
        </tbody>
    </table>
}

